body {
    border: 0;
    padding: 0;
    margin: 0;
}

.gangweitoubu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #fff3cd;
    font-family: 华文行楷;
    align-items: center;
    color: orangered;
    font-size: 25px;
}

.dabuju {
    display: flex;
    background: linear-gradient(30deg, red, purple, #ae9a10, #07cab6);
    flex-direction: column;

}

.xiaobuju1 {
    display: flex;
    flex-direction: row;
    background-color: green;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 60px;
}

.xiaobuju2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: pink;
    height: 345px;
    border-radius: 20px;
}

.a {
    text-decoration: none;
    margin-left: 5px;
    color: white;
}

.hy {
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-family: 华文行楷;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*--animate-duration: 10s;*/
    animation-iteration-count: infinite;
}

.gw1 {
    height: 300px;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.gw2 {
    height: 300px;
    background-color: rgba(30, 144, 255, 0.63);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}