.zuotu {
    display: flex;
    flex-direction: column;
}

.zuotuxiaoguo {
    height: 200px;
    width: auto;
}

.h1jianjie {
    font-family: 华文琥珀;
    height: 65vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, yellow, red, greenyellow);
}

.h\.\. {
    margin-left: 150px
}
