.yewu {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.36), rgba(211, 187, 79, 0.53), greenyellow);
    justify-content: center;
}

.yewuname {
    font-family: 华文行楷;
    font-size: 20px;
}

.yewudaohang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.dibu {
    display: flex;
    justify-content: space-between;
    background-color: #fff3cd;
    height: auto;
    align-items: center;
}
