.xinwen1 {
    display: flex;
    flex-direction: row;
    height: 82vh;
    justify-content: space-between;
}

.xinwen2 {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(45deg, orange, yellow, lawngreen);
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.xinwen3 {
    background-color: deepskyblue;
    border-radius: 20px;
    display: flex;
}

.lianjie {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;

}

.py1 {
    font-weight: bold;
    font-size: 20px;
    font-family: 华文仿宋;
    text-align: center;
}

.py2 {
    font-size: 15px;
    font-family: 等线;
}

.xinwen4 {
    width: 750px;
    height: auto;
    background: linear-gradient(30deg, green, yellow, red);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    width: 350px;
    height: auto;
}